In [127]:
import pandas as pd
import numpy as np

In [128]:
# Đọc dữ liệu từ CSV
df = pd.read_csv("D:\\House Prices _ onehot\\Dataset\\pre_data1.csv")
print(df)

        Carpet Area  Unit0 Super Area  Unit1 Current Floor Total Floor  \
0             500.0   sqft        NaN    NaN            10          11
1             473.0   sqft        NaN    NaN             3          22
2             779.0   sqft        NaN    NaN            10          29
3             530.0   sqft        NaN    NaN             1           3
4             635.0   sqft        NaN    NaN            20          42
...             ...    ...        ...    ...           ...         ...
187526          NaN    NaN       1953   sqft             2           4
187527          NaN    NaN       1680   sqft             4           6
187528       1250.0   sqft        NaN    NaN             1           3
187529          NaN    NaN        709   sqft             2           2
187530          NaN    NaN       1915   sqft             5          13

            Furnishing Bathroom Balcony  Car Parking     Types Amount Unit2
0          Unfurnished        1       2          NaN       NaN     42   Lac
1       Semi-Furnished        2     NaN          1.0      Open     98   Lac
2          Unfurnished        2     NaN          1.0   Covered    1.4    Cr
3          Unfurnished        1       1          NaN       NaN     25   Lac
4          Unfurnished        2     NaN          1.0   Covered    1.6    Cr
...                ...      ...     ...          ...       ...    ...   ...
187526  Semi-Furnished        3       3          1.0   Covered     63   Lac
187527     Unfurnished        3     NaN          1.0   Covered     55   Lac
187528       Furnished        3       2          1.0   Covered     76   Lac
187529  Semi-Furnished        2     NaN          NaN       NaN     30   Lac
187530  Semi-Furnished        4       4          1.0   Covered   1.18    Cr

[187531 rows x 13 columns]

In [129]:
# Kiểm tra số lượng NaN trong các cột
nan_count = df.isna().sum()
print("Số lượng NaN trong các cột:")
print(nan_count)

# Kiểm tra số lượng giá trị unique trong các cột
unique_count = df.nunique()
print("\nSố lượng giá trị unique trong các cột:")
print(unique_count)

Số lượng NaN trong các cột:
Carpet Area       80673
Unit0             80673
Super Area       107685
Unit1            107685
Current Floor      7077
Total Floor        7126
Furnishing         2897
Bathroom            828
Balcony           48935
Car Parking      103357
Types            103357
Amount                0
Unit2              9684
dtype: int64

Số lượng giá trị unique trong các cột:
Carpet Area      2473
Unit0               9
Super Area       2755
Unit1              11
Current Floor      55
Total Floor        74
Furnishing          3
Bathroom           11
Balcony            11
Car Parking       156
Types               2
Amount           1468
Unit2               2
dtype: int64

In [130]:
df[['Carpet Area', 'Super Area']] = df[['Carpet Area', 'Super Area']].apply(pd.to_numeric, errors='coerce')
print(df[['Carpet Area', 'Super Area']].dtypes)

Carpet Area    float64
Super Area     float64
dtype: object

In [131]:
# Số đơn vị khác nhau
print(df["Unit0"].unique())
# Số đơn vị khác nhau
print(df["Unit1"].unique())

[' sqft' nan ' sqm' ' sqyrd' ' acre' ' ground' ' cent' ' bigha' ' marla'
 ' kanal']
[nan ' sqft' ' sqm' ' sqyrd' ' marla' ' kanal' ' ground' ' biswa'
 ' aankadam' ' acre' ' hectare' ' cent']

In [132]:
# Định nghĩa các yếu tố chuyển đổi cho các đơn vị
conversion_factors = {
    "sqft": 1, " sqft": 1,  
    "sqm": 10.764, " sqm": 10.764,  
    "acre": 43560, " acre": 43560,  
    "sqyrd": 9, " sqyrd": 9,  
    "marla": 272.25, " marla": 272.25,  
    "kanal": 5445, " kanal": 5445,  
    "bigha": 17427, " bigha": 17427,
    "ground": 2400, " ground": 2400,
    "cent": 435.6, " cent": 435.6,
    "biswa": 20.25, " biswa": 20.25,
    "aankadam": 1080, " aankadam": 1080,
    "hectare": 107639, " hectare": 107639
}

# Loại bỏ khoảng trắng thừa trong các đơn vị
df["Unit0"] = df["Unit0"].str.strip()
df["Unit1"] = df["Unit1"].str.strip()

# Đổi "Carpet Area" về đơn vị sqft theo đơn vị trong cột "Unit0"
df["Carpet Area"] = df["Carpet Area"] * df["Unit0"].map(conversion_factors)

# Đổi "Super Area" về đơn vị sqft theo đơn vị trong cột "Unit1"
df["Super Area"] = df["Super Area"] * df["Unit1"].map(conversion_factors)

# In kết quả sau khi chuyển đổi
print(df[["Carpet Area", "Unit0", "Super Area", "Unit1"]])

        Carpet Area Unit0  Super Area Unit1
0             500.0  sqft         NaN   NaN
1             473.0  sqft         NaN   NaN
2             779.0  sqft         NaN   NaN
3             530.0  sqft         NaN   NaN
4             635.0  sqft         NaN   NaN
...             ...   ...         ...   ...
187526          NaN   NaN      1953.0  sqft
187527          NaN   NaN      1680.0  sqft
187528       1250.0  sqft         NaN   NaN
187529          NaN   NaN       709.0  sqft
187530          NaN   NaN      1915.0  sqft

[187531 rows x 4 columns]

In [133]:
df.drop(columns=["Unit0"], inplace=True)
df.drop(columns=["Unit1"], inplace=True)
print(df)

        Carpet Area  Super Area Current Floor Total Floor      Furnishing  \
0             500.0         NaN            10          11     Unfurnished
1             473.0         NaN             3          22  Semi-Furnished
2             779.0         NaN            10          29     Unfurnished
3             530.0         NaN             1           3     Unfurnished
4             635.0         NaN            20          42     Unfurnished
...             ...         ...           ...         ...             ...
187526          NaN      1953.0             2           4  Semi-Furnished
187527          NaN      1680.0             4           6     Unfurnished
187528       1250.0         NaN             1           3       Furnished
187529          NaN       709.0             2           2  Semi-Furnished
187530          NaN      1915.0             5          13  Semi-Furnished

       Bathroom Balcony  Car Parking     Types Amount Unit2
0             1       2          NaN       NaN     42   Lac
1             2     NaN          1.0      Open     98   Lac
2             2     NaN          1.0   Covered    1.4    Cr
3             1       1          NaN       NaN     25   Lac
4             2     NaN          1.0   Covered    1.6    Cr
...         ...     ...          ...       ...    ...   ...
187526        3       3          1.0   Covered     63   Lac
187527        3     NaN          1.0   Covered     55   Lac
187528        3       2          1.0   Covered     76   Lac
187529        2     NaN          NaN       NaN     30   Lac
187530        4       4          1.0   Covered   1.18    Cr

[187531 rows x 11 columns]

In [134]:
# Gộp giá trị từ cột "Carpet Area" và "Super Area" thành cột "Area"
df['Area'] = df['Carpet Area'].fillna(df['Super Area'])

# Hiển thị kết quả sau khi gộp
print(df[['Area']])

          Area
0        500.0
1        473.0
2        779.0
3        530.0
4        635.0
...        ...
187526  1953.0
187527  1680.0
187528  1250.0
187529   709.0
187530  1915.0

[187531 rows x 1 columns]

In [135]:
df.drop(columns=["Carpet Area"], inplace=True)
df.drop(columns=["Super Area"], inplace=True)
print(df)

       Current Floor Total Floor      Furnishing Bathroom Balcony  \
0                 10          11     Unfurnished        1       2
1                  3          22  Semi-Furnished        2     NaN
2                 10          29     Unfurnished        2     NaN
3                  1           3     Unfurnished        1       1
4                 20          42     Unfurnished        2     NaN
...              ...         ...             ...      ...     ...
187526             2           4  Semi-Furnished        3       3
187527             4           6     Unfurnished        3     NaN
187528             1           3       Furnished        3       2
187529             2           2  Semi-Furnished        2     NaN
187530             5          13  Semi-Furnished        4       4

        Car Parking     Types Amount Unit2    Area
0               NaN       NaN     42   Lac   500.0
1               1.0      Open     98   Lac   473.0
2               1.0   Covered    1.4    Cr   779.0
3               NaN       NaN     25   Lac   530.0
4               1.0   Covered    1.6    Cr   635.0
...             ...       ...    ...   ...     ...
187526          1.0   Covered     63   Lac  1953.0
187527          1.0   Covered     55   Lac  1680.0
187528          1.0   Covered     76   Lac  1250.0
187529          NaN       NaN     30   Lac   709.0
187530          1.0   Covered   1.18    Cr  1915.0

[187531 rows x 10 columns]

In [136]:
# fill data with mean value

# Duyệt qua từng cột Area
cols_to_fill = ["Area"]

for col in cols_to_fill:
    # Chuyển cột sang số, lỗi thì thành NaN
    df[col] = pd.to_numeric(df[col], errors="coerce")

    # Điền NaN bằng phần nguyên của trung bình cột
    df[col].fillna(int(df[col].mean()), inplace=True)

print(df["Area"])

0          500.0
1          473.0
2          779.0
3          530.0
4          635.0
           ...
187526    1953.0
187527    1680.0
187528    1250.0
187529     709.0
187530    1915.0
Name: Area, Length: 187531, dtype: float64

C:\Users\FPTSHOP\AppData\Local\Temp\ipykernel_19356\3804916611.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(int(df[col].mean()), inplace=True)

In [137]:
# Kiểm tra số lượng NaN trong các cột
nan_count = df.isna().sum()
print("Số lượng NaN trong các cột:")
print(nan_count)

Số lượng NaN trong các cột:
Current Floor      7077
Total Floor        7126
Furnishing         2897
Bathroom            828
Balcony           48935
Car Parking      103357
Types            103357
Amount                0
Unit2              9684
Area                  0
dtype: int64

In [138]:
# Chuyển đổi giá trị trong cột thành số và bỏ qua các giá trị không phải số
df['Current Floor'] = pd.to_numeric(df['Current Floor'], errors='coerce')
df['Total Floor'] = pd.to_numeric(df['Total Floor'], errors='coerce')

# Duyệt qua từng cột Area
cols_to_fill = ["Current Floor", "Total Floor"]

for col in cols_to_fill:
    # Chuyển cột sang số, lỗi thì thành NaN
    df[col] = pd.to_numeric(df[col], errors="coerce")

    # Điền NaN bằng phần nguyên của trung bình cột
    df[col] = df[col].fillna(int(df[col].mean()))  # Gán lại giá trị thay vì dùng inplace=True

In [139]:
# Kiểm tra số lượng NaN trong các cột
nan_count = df.isna().sum()
print("Số lượng NaN trong các cột:")
print(nan_count)

Số lượng NaN trong các cột:
Current Floor         0
Total Floor           0
Furnishing         2897
Bathroom            828
Balcony           48935
Car Parking      103357
Types            103357
Amount                0
Unit2              9684
Area                  0
dtype: int64

In [140]:
# Chuyển cột Bathroom sang kiểu số (nếu chưa)
df["Bathroom"] = pd.to_numeric(df["Bathroom"], errors="coerce")
df["Balcony"] = pd.to_numeric(df["Balcony"], errors="coerce")
df["Car Parking"] = pd.to_numeric(df["Car Parking"], errors="coerce")

# Xóa các hàng có Bathroom > 10
df = df[df["Bathroom"] <= 10]

# Duyệt qua từng cột Area
cols_to_fill = ["Bathroom", "Balcony", "Car Parking"]

for col in cols_to_fill:
    # Chuyển cột sang số, lỗi thì thành NaN
    df[col] = pd.to_numeric(df[col], errors="coerce")

    # Điền NaN bằng phần nguyên của trung bình cột
    df[col] = df[col].fillna(int(df[col].mean()))  # Gán lại giá trị thay vì dùng inplace=True

In [141]:
# Kiểm tra số lượng NaN trong các cột
nan_count = df.isna().sum()
print("Số lượng NaN trong các cột:")
print(nan_count)

Số lượng NaN trong các cột:
Current Floor         0
Total Floor           0
Furnishing         2122
Bathroom              0
Balcony               0
Car Parking           0
Types            102549
Amount                0
Unit2              9610
Area                  0
dtype: int64

In [142]:
# Số đơn vị khác nhau
print(df["Unit2"].unique())

[' Lac' ' Cr' nan]

In [143]:
# Xóa các hàng có giá trị NaN trong cột 'Unit2'
df = df.dropna(subset=['Unit2'])
# Kiểm tra số lượng NaN trong các cột
nan_count = df.isna().sum()
print("Số lượng NaN trong các cột:")
print(nan_count)

Số lượng NaN trong các cột:
Current Floor        0
Total Floor          0
Furnishing        1348
Bathroom             0
Balcony              0
Car Parking          0
Types            95158
Amount               0
Unit2                0
Area                 0
dtype: int64

In [144]:
print(df)

        Current Floor  Total Floor      Furnishing  Bathroom  Balcony  \
0                10.0         11.0     Unfurnished       1.0      2.0
1                 3.0         22.0  Semi-Furnished       2.0      2.0
2                10.0         29.0     Unfurnished       2.0      2.0
3                 1.0          3.0     Unfurnished       1.0      1.0
4                20.0         42.0     Unfurnished       2.0      2.0
...               ...          ...             ...       ...      ...
187526            2.0          4.0  Semi-Furnished       3.0      3.0
187527            4.0          6.0     Unfurnished       3.0      2.0
187528            1.0          3.0       Furnished       3.0      2.0
187529            2.0          2.0  Semi-Furnished       2.0      2.0
187530            5.0         13.0  Semi-Furnished       4.0      4.0

        Car Parking     Types Amount Unit2    Area
0               4.0       NaN     42   Lac   500.0
1               1.0      Open     98   Lac   473.0
2               1.0   Covered    1.4    Cr   779.0
3               4.0       NaN     25   Lac   530.0
4               1.0   Covered    1.6    Cr   635.0
...             ...       ...    ...   ...     ...
187526          1.0   Covered     63   Lac  1953.0
187527          1.0   Covered     55   Lac  1680.0
187528          1.0   Covered     76   Lac  1250.0
187529          4.0       NaN     30   Lac   709.0
187530          1.0   Covered   1.18    Cr  1915.0

[177058 rows x 10 columns]

In [145]:
# Chuyển cột Bathroom sang kiểu số (nếu chưa)
df["Amount"] = pd.to_numeric(df["Amount"], errors="coerce")

# Định nghĩa các yếu tố chuyển đổi cho các đơn vị
conversion_factors = {
    "Lac": 10000, " Lac": 10000,  # Giả sử 1 Lac = 10,000 sqft
    "Cr": 10000000, " Cr": 10000000  # Giả sử 1 Cr = 10,000,000 sqft
}

# Loại bỏ khoảng trắng thừa trong các đơn vị
df["Unit2"] = df["Unit2"].str.strip()

# Kiểm tra và xử lý giá trị không hợp lệ trong cột 'Unit2' nếu cần
df["Unit2"] = df["Unit2"].apply(lambda x: x if x in conversion_factors else None)

# Đổi "Amount" về đơn vị sqft theo đơn vị trong cột "Unit2"
df["Amount"] = df["Amount"] * df["Unit2"].map(conversion_factors)

# In kết quả sau khi chuyển đổi
print(df[["Amount", "Unit2"]])

            Amount Unit2
0         420000.0   Lac
1         980000.0   Lac
2       14000000.0    Cr
3         250000.0   Lac
4       16000000.0    Cr
...            ...   ...
187526    630000.0   Lac
187527    550000.0   Lac
187528    760000.0   Lac
187529    300000.0   Lac
187530  11800000.0    Cr

[177058 rows x 2 columns]

In [146]:
print(df['Amount'].dtype)

float64

In [147]:
df.drop(columns=["Unit2"], inplace=True)
# Kiểm tra số lượng NaN trong các cột
nan_count = df.isna().sum()
print("Số lượng NaN trong các cột:")
print(nan_count)

Số lượng NaN trong các cột:
Current Floor        0
Total Floor          0
Furnishing        1348
Bathroom             0
Balcony              0
Car Parking          0
Types            95158
Amount               0
Area                 0
dtype: int64

In [148]:
print(df.describe())

       Current Floor    Total Floor       Bathroom        Balcony  \
count  177058.000000  177058.000000  177058.000000  177058.000000
mean        4.729117       8.771629       2.448090       2.008839
std         4.471220       7.419662       0.852182       0.817157
min         1.000000       1.000000       1.000000       1.000000
25%         2.000000       4.000000       2.000000       1.000000
50%         4.000000       6.000000       2.000000       2.000000
75%         5.000000      11.000000       3.000000       2.000000
max       200.000000     200.000000      10.000000      10.000000

         Car Parking        Amount          Area
count  177058.000000  1.770580e+05  1.770580e+05
mean        4.000966  8.842855e+06  2.243598e+03
std        21.485081  4.000931e+07  2.018833e+05
min         1.000000  1.000000e+04  1.000000e+00
25%         1.000000  4.850000e+05  9.000000e+02
50%         4.000000  7.800000e+05  1.200000e+03
75%         4.000000  1.450000e+07  1.600000e+03
max       999.000000  1.400300e+10  6.534000e+07

In [149]:
# Định nghĩa một hàm để xử lý ngoại lai với IQR cho toàn bộ DataFrame
def remove_outliers_iqr(df):
    # Lọc ra các cột số trong df
    numeric_columns = df.select_dtypes(include=[np.number]).columns
    
    # Tính IQR cho từng cột số
    for col in numeric_columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        
        # Xác định phạm vi hợp lệ
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        # Loại bỏ các dòng có giá trị ngoại lai
        df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    
    return df

# Xử lý ngoại lai trên toàn bộ df
df_cleaned = remove_outliers_iqr(df)

# In ra DataFrame sau khi xử lý
print(df_cleaned)

        Current Floor  Total Floor      Furnishing  Bathroom  Balcony  \
3                 1.0          3.0     Unfurnished       1.0      1.0
5                 2.0          7.0     Unfurnished       1.0      1.0
6                 4.0          5.0     Unfurnished       1.0      2.0
7                 4.0          7.0       Furnished       1.0      2.0
8                 4.0          2.0       Furnished       1.0      2.0
...               ...          ...             ...       ...      ...
187525            1.0          3.0     Unfurnished       3.0      2.0
187526            2.0          4.0  Semi-Furnished       3.0      3.0
187527            4.0          6.0     Unfurnished       3.0      2.0
187528            1.0          3.0       Furnished       3.0      2.0
187529            2.0          2.0  Semi-Furnished       2.0      2.0

        Car Parking     Types    Amount    Area
3               4.0       NaN  250000.0   530.0
5               4.0       NaN  450000.0   680.0
6               4.0       NaN  165000.0   550.0
7               4.0       NaN  600000.0   575.0
8               4.0       NaN  600000.0   600.0
...             ...       ...       ...     ...
187525          4.0       NaN  449000.0  1050.0
187526          1.0   Covered  630000.0  1953.0
187527          1.0   Covered  550000.0  1680.0
187528          1.0   Covered  760000.0  1250.0
187529          4.0       NaN  300000.0   709.0

[127286 rows x 9 columns]

In [150]:
print(df.describe())

       Current Floor    Total Floor       Bathroom        Balcony  \
count  177058.000000  177058.000000  177058.000000  177058.000000
mean        4.729117       8.771629       2.448090       2.008839
std         4.471220       7.419662       0.852182       0.817157
min         1.000000       1.000000       1.000000       1.000000
25%         2.000000       4.000000       2.000000       1.000000
50%         4.000000       6.000000       2.000000       2.000000
75%         5.000000      11.000000       3.000000       2.000000
max       200.000000     200.000000      10.000000      10.000000

         Car Parking        Amount          Area
count  177058.000000  1.770580e+05  1.770580e+05
mean        4.000966  8.842855e+06  2.243598e+03
std        21.485081  4.000931e+07  2.018833e+05
min         1.000000  1.000000e+04  1.000000e+00
25%         1.000000  4.850000e+05  9.000000e+02
50%         4.000000  7.800000e+05  1.200000e+03
75%         4.000000  1.450000e+07  1.600000e+03
max       999.000000  1.400300e+10  6.534000e+07

In [151]:
# Chia Amount thành các nhóm: Low, Medium, High
Q1 = df['Amount'].quantile(0.25)
Q3 = df['Amount'].quantile(0.75)
df['Amount_Category'] = pd.cut(df['Amount'], bins=[-np.inf, Q1, Q3, np.inf], labels=['Low', 'Medium', 'High'])

# One-hot encoding
df = pd.get_dummies(df, columns=['Amount_Category'], drop_first=False)

In [152]:
print(df)

        Current Floor  Total Floor      Furnishing  Bathroom  Balcony  \
0                10.0         11.0     Unfurnished       1.0      2.0
1                 3.0         22.0  Semi-Furnished       2.0      2.0
2                10.0         29.0     Unfurnished       2.0      2.0
3                 1.0          3.0     Unfurnished       1.0      1.0
4                20.0         42.0     Unfurnished       2.0      2.0
...               ...          ...             ...       ...      ...
187526            2.0          4.0  Semi-Furnished       3.0      3.0
187527            4.0          6.0     Unfurnished       3.0      2.0
187528            1.0          3.0       Furnished       3.0      2.0
187529            2.0          2.0  Semi-Furnished       2.0      2.0
187530            5.0         13.0  Semi-Furnished       4.0      4.0

        Car Parking     Types      Amount    Area  Amount_Category_Low  \
0               4.0       NaN    420000.0   500.0                 True
1               1.0      Open    980000.0   473.0                False
2               1.0   Covered  14000000.0   779.0                False
3               4.0       NaN    250000.0   530.0                 True
4               1.0   Covered  16000000.0   635.0                False
...             ...       ...         ...     ...                  ...
187526          1.0   Covered    630000.0  1953.0                False
187527          1.0   Covered    550000.0  1680.0                False
187528          1.0   Covered    760000.0  1250.0                False
187529          4.0       NaN    300000.0   709.0                 True
187530          1.0   Covered  11800000.0  1915.0                False

        Amount_Category_Medium  Amount_Category_High
0                        False                 False
1                         True                 False
2                         True                 False
3                        False                 False
4                        False                  True
...                        ...                   ...
187526                    True                 False
187527                    True                 False
187528                    True                 False
187529                   False                 False
187530                    True                 False

[177058 rows x 12 columns]

In [153]:
# Thay thế NaN trong cột 'Types' bằng một giá trị hợp lệ, ví dụ 'Unknown'
df['Types'] = df['Types'].fillna('Unknown')

# One-hot encoding cho cột 'Types'
df = pd.get_dummies(df, columns=['Types'], drop_first=False)

# In kết quả
print(df)

        Current Floor  Total Floor      Furnishing  Bathroom  Balcony  \
0                10.0         11.0     Unfurnished       1.0      2.0
1                 3.0         22.0  Semi-Furnished       2.0      2.0
2                10.0         29.0     Unfurnished       2.0      2.0
3                 1.0          3.0     Unfurnished       1.0      1.0
4                20.0         42.0     Unfurnished       2.0      2.0
...               ...          ...             ...       ...      ...
187526            2.0          4.0  Semi-Furnished       3.0      3.0
187527            4.0          6.0     Unfurnished       3.0      2.0
187528            1.0          3.0       Furnished       3.0      2.0
187529            2.0          2.0  Semi-Furnished       2.0      2.0
187530            5.0         13.0  Semi-Furnished       4.0      4.0

        Car Parking      Amount    Area  Amount_Category_Low  \
0               4.0    420000.0   500.0                 True
1               1.0    980000.0   473.0                False
2               1.0  14000000.0   779.0                False
3               4.0    250000.0   530.0                 True
4               1.0  16000000.0   635.0                False
...             ...         ...     ...                  ...
187526          1.0    630000.0  1953.0                False
187527          1.0    550000.0  1680.0                False
187528          1.0    760000.0  1250.0                False
187529          4.0    300000.0   709.0                 True
187530          1.0  11800000.0  1915.0                False

        Amount_Category_Medium  Amount_Category_High  Types_ Covered  \
0                        False                 False           False
1                         True                 False           False
2                         True                 False            True
3                        False                 False           False
4                        False                  True            True
...                        ...                   ...             ...
187526                    True                 False            True
187527                    True                 False            True
187528                    True                 False            True
187529                   False                 False           False
187530                    True                 False            True

        Types_ Open  Types_Unknown
0             False           True
1              True          False
2             False          False
3             False           True
4             False          False
...             ...            ...
187526        False          False
187527        False          False
187528        False          False
187529        False           True
187530        False          False

[177058 rows x 14 columns]

In [154]:
# Giả sử 'Furnishing' là tên của cột trong DataFrame
# Thay thế NaN trong cột 'Types' bằng một giá trị hợp lệ, ví dụ 'Unknown'
df['Furnishing'] = df['Furnishing'].fillna('Unknown')

# One-hot encoding cho cột Furnishing
df = pd.get_dummies(df, columns=['Furnishing'], drop_first=False)

# In kết quả
print(df)

        Current Floor  Total Floor  Bathroom  Balcony  Car Parking  \
0                10.0         11.0       1.0      2.0          4.0
1                 3.0         22.0       2.0      2.0          1.0
2                10.0         29.0       2.0      2.0          1.0
3                 1.0          3.0       1.0      1.0          4.0
4                20.0         42.0       2.0      2.0          1.0
...               ...          ...       ...      ...          ...
187526            2.0          4.0       3.0      3.0          1.0
187527            4.0          6.0       3.0      2.0          1.0
187528            1.0          3.0       3.0      2.0          1.0
187529            2.0          2.0       2.0      2.0          4.0
187530            5.0         13.0       4.0      4.0          1.0

            Amount    Area  Amount_Category_Low  Amount_Category_Medium  \
0         420000.0   500.0                 True                   False
1         980000.0   473.0                False                    True
2       14000000.0   779.0                False                    True
3         250000.0   530.0                 True                   False
4       16000000.0   635.0                False                   False
...            ...     ...                  ...                     ...
187526    630000.0  1953.0                False                    True
187527    550000.0  1680.0                False                    True
187528    760000.0  1250.0                False                    True
187529    300000.0   709.0                 True                   False
187530  11800000.0  1915.0                False                    True

        Amount_Category_High  Types_ Covered  Types_ Open  Types_Unknown  \
0                      False           False        False           True
1                      False           False         True          False
2                      False            True        False          False
3                      False           False        False           True
4                       True            True        False          False
...                      ...             ...          ...            ...
187526                 False            True        False          False
187527                 False            True        False          False
187528                 False            True        False          False
187529                 False           False        False           True
187530                 False            True        False          False

        Furnishing_Furnished  Furnishing_Semi-Furnished  \
0                      False                      False
1                      False                       True
2                      False                      False
3                      False                      False
4                      False                      False
...                      ...                        ...
187526                 False                       True
187527                 False                      False
187528                  True                      False
187529                 False                       True
187530                 False                       True

        Furnishing_Unfurnished  Furnishing_Unknown
0                         True               False
1                        False               False
2                         True               False
3                         True               False
4                         True               False
...                        ...                 ...
187526                   False               False
187527                    True               False
187528                   False               False
187529                   False               False
187530                   False               False

[177058 rows x 17 columns]

In [156]:
print(df.describe())

       Current Floor    Total Floor       Bathroom        Balcony  \
count  177058.000000  177058.000000  177058.000000  177058.000000
mean        4.729117       8.771629       2.448090       2.008839
std         4.471220       7.419662       0.852182       0.817157
min         1.000000       1.000000       1.000000       1.000000
25%         2.000000       4.000000       2.000000       1.000000
50%         4.000000       6.000000       2.000000       2.000000
75%         5.000000      11.000000       3.000000       2.000000
max       200.000000     200.000000      10.000000      10.000000

         Car Parking        Amount          Area
count  177058.000000  1.770580e+05  1.770580e+05
mean        4.000966  8.842855e+06  2.243598e+03
std        21.485081  4.000931e+07  2.018833e+05
min         1.000000  1.000000e+04  1.000000e+00
25%         1.000000  4.850000e+05  9.000000e+02
50%         4.000000  7.800000e+05  1.200000e+03
75%         4.000000  1.450000e+07  1.600000e+03
max       999.000000  1.400300e+10  6.534000e+07

In [157]:
# Chuyển các giá trị True/False thành 1/0
df = df.astype(int)

# In kết quả
print(df)

        Current Floor  Total Floor  Bathroom  Balcony  Car Parking    Amount  \
0                  10           11         1        2            4    420000
1                   3           22         2        2            1    980000
2                  10           29         2        2            1  14000000
3                   1            3         1        1            4    250000
4                  20           42         2        2            1  16000000
...               ...          ...       ...      ...          ...       ...
187526              2            4         3        3            1    630000
187527              4            6         3        2            1    550000
187528              1            3         3        2            1    760000
187529              2            2         2        2            4    300000
187530              5           13         4        4            1  11800000

        Area  Amount_Category_Low  Amount_Category_Medium  \
0        500                    1                       0
1        473                    0                       1
2        779                    0                       1
3        530                    1                       0
4        635                    0                       0
...      ...                  ...                     ...
187526  1953                    0                       1
187527  1680                    0                       1
187528  1250                    0                       1
187529   709                    1                       0
187530  1915                    0                       1

        Amount_Category_High  Types_ Covered  Types_ Open  Types_Unknown  \
0                          0               0            0              1
1                          0               0            1              0
2                          0               1            0              0
3                          0               0            0              1
4                          1               1            0              0
...                      ...             ...          ...            ...
187526                     0               1            0              0
187527                     0               1            0              0
187528                     0               1            0              0
187529                     0               0            0              1
187530                     0               1            0              0

        Furnishing_Furnished  Furnishing_Semi-Furnished  \
0                          0                          0
1                          0                          1
2                          0                          0
3                          0                          0
4                          0                          0
...                      ...                        ...
187526                     0                          1
187527                     0                          0
187528                     1                          0
187529                     0                          1
187530                     0                          1

        Furnishing_Unfurnished  Furnishing_Unknown
0                            1                   0
1                            0                   0
2                            1                   0
3                            1                   0
4                            1                   0
...                        ...                 ...
187526                       0                   0
187527                       1                   0
187528                       0                   0
187529                       0                   0
187530                       0                   0

[177058 rows x 17 columns]

In [158]:
# Giả sử df là DataFrame của bạn

# Loại bỏ các hàng có số tầng (Current Floor, Total Floor) lớn hơn 70
df = df[(df['Current Floor'] <= 70) & (df['Total Floor'] <= 70)]

# Loại bỏ các hàng có Car Parking quá lớn (giả sử quá lớn là > 50)
df = df[df['Car Parking'] <= 50]

# Loại bỏ các hàng có diện tích (Area) quá nhỏ (giả sử quá nhỏ là < 100)
df = df[df['Area'] >= 100]

# In kết quả sau khi lọc
print(df.describe())

       Current Floor    Total Floor       Bathroom        Balcony  \
count  175547.000000  175547.000000  175547.000000  175547.000000
mean        4.740856       8.781215       2.456305       2.013979
std         4.425971       7.370100       0.848510       0.816974
min         1.000000       1.000000       1.000000       1.000000
25%         2.000000       4.000000       2.000000       1.000000
50%         4.000000       6.000000       2.000000       2.000000
75%         5.000000      11.000000       3.000000       2.000000
max        63.000000      70.000000      10.000000      10.000000

         Car Parking        Amount          Area  Amount_Category_Low  \
count  175547.000000  1.755470e+05  1.755470e+05        175547.000000
mean        2.888896  8.704995e+06  2.259135e+03             0.244789
std         2.426943  1.831435e+07  2.027501e+05             0.429963
min         1.000000 -2.147484e+09  1.000000e+02             0.000000
25%         1.000000  5.000000e+05  9.000000e+02             0.000000
50%         4.000000  7.800000e+05  1.200000e+03             0.000000
75%         4.000000  1.490000e+07  1.600000e+03             0.000000
max        50.000000  8.000000e+08  6.534000e+07             1.000000

       Amount_Category_Medium  Amount_Category_High  Types_ Covered  \
count           175547.000000         175547.000000   175547.000000
mean                 0.504275              0.250936        0.399249
std                  0.499983              0.433553        0.489745
min                  0.000000              0.000000        0.000000
25%                  0.000000              0.000000        0.000000
50%                  1.000000              0.000000        0.000000
75%                  1.000000              1.000000        1.000000
max                  1.000000              1.000000        1.000000

         Types_ Open  Types_Unknown  Furnishing_Furnished  \
count  175547.000000  175547.000000         175547.000000
mean        0.063960       0.536791              0.105465
std         0.244683       0.498646              0.307152
min         0.000000       0.000000              0.000000
25%         0.000000       0.000000              0.000000
50%         0.000000       1.000000              0.000000
75%         0.000000       1.000000              0.000000
max         1.000000       1.000000              1.000000

       Furnishing_Semi-Furnished  Furnishing_Unfurnished  Furnishing_Unknown
count              175547.000000           175547.000000       175547.000000
mean                    0.470991                0.415877            0.007667
std                     0.499159                0.492874            0.087228
min                     0.000000                0.000000            0.000000
25%                     0.000000                0.000000            0.000000
50%                     0.000000                0.000000            0.000000
75%                     1.000000                1.000000            0.000000
max                     1.000000                1.000000            1.000000

In [159]:
# Tính tứ phân vị (Q1, Q3) và IQR
Q1_amount = df['Amount'].quantile(0.25)
Q3_amount = df['Amount'].quantile(0.75)
IQR_amount = Q3_amount - Q1_amount

Q1_car_parking = df['Car Parking'].quantile(0.25)
Q3_car_parking = df['Car Parking'].quantile(0.75)
IQR_car_parking = Q3_car_parking - Q1_car_parking

# Loại bỏ các hàng có giá trị ngoại lai (outliers) đối với Amount và Car Parking
df_filtered = df[(df['Amount'] >= (Q1_amount - 1.5 * IQR_amount)) & (df['Amount'] <= (Q3_amount + 1.5 * IQR_amount))]
df_filtered = df_filtered[(df_filtered['Car Parking'] >= (Q1_car_parking - 1.5 * IQR_car_parking)) & (df_filtered['Car Parking'] <= (Q3_car_parking + 1.5 * IQR_car_parking))]

# Kiểm tra lại thông số thống kê sau khi loại bỏ ngoại lai
print(df_filtered.describe())

       Current Floor    Total Floor       Bathroom        Balcony  \
count  166468.000000  166468.000000  166468.000000  166468.000000
mean        4.612490       8.512080       2.387612       1.993879
std         4.268583       6.981149       0.775829       0.797706
min         1.000000       1.000000       1.000000       1.000000
25%         2.000000       4.000000       2.000000       1.000000
50%         4.000000       6.000000       2.000000       2.000000
75%         5.000000      11.000000       3.000000       2.000000
max        40.000000      70.000000      10.000000      10.000000

         Car Parking        Amount          Area  Amount_Category_Low  \
count  166468.000000  1.664680e+05  1.664680e+05        166468.000000
mean        2.757293  6.649369e+06  2.245321e+03             0.257611
std         1.434455  9.163404e+06  2.082054e+05             0.437320
min         1.000000  1.000000e+04  1.000000e+02             0.000000
25%         1.000000  4.760000e+05  8.950000e+02             0.000000
50%         4.000000  7.500000e+05  1.180000e+03             0.000000
75%         4.000000  1.300000e+07  1.550000e+03             1.000000
max         8.000000  3.650000e+07  6.534000e+07             1.000000

       Amount_Category_Medium  Amount_Category_High  Types_ Covered  \
count           166468.000000         166468.000000   166468.000000
mean                 0.522797              0.219592        0.376925
std                  0.499482              0.413971        0.484617
min                  0.000000              0.000000        0.000000
25%                  0.000000              0.000000        0.000000
50%                  1.000000              0.000000        0.000000
75%                  1.000000              0.000000        1.000000
max                  1.000000              1.000000        1.000000

         Types_ Open  Types_Unknown  Furnishing_Furnished  \
count  166468.000000  166468.000000         166468.000000
mean        0.061754       0.561321              0.107414
std         0.240708       0.496227              0.309640
min         0.000000       0.000000              0.000000
25%         0.000000       0.000000              0.000000
50%         0.000000       1.000000              0.000000
75%         0.000000       1.000000              0.000000
max         1.000000       1.000000              1.000000

       Furnishing_Semi-Furnished  Furnishing_Unfurnished  Furnishing_Unknown
count              166468.000000           166468.000000       166468.000000
mean                    0.465477                0.419150            0.007959
std                     0.498808                0.493421            0.088860
min                     0.000000                0.000000            0.000000
25%                     0.000000                0.000000            0.000000
50%                     0.000000                0.000000            0.000000
75%                     1.000000                1.000000            0.000000
max                     1.000000                1.000000            1.000000

In [160]:
print(df)

        Current Floor  Total Floor  Bathroom  Balcony  Car Parking    Amount  \
0                  10           11         1        2            4    420000
1                   3           22         2        2            1    980000
2                  10           29         2        2            1  14000000
3                   1            3         1        1            4    250000
4                  20           42         2        2            1  16000000
...               ...          ...       ...      ...          ...       ...
187526              2            4         3        3            1    630000
187527              4            6         3        2            1    550000
187528              1            3         3        2            1    760000
187529              2            2         2        2            4    300000
187530              5           13         4        4            1  11800000

        Area  Amount_Category_Low  Amount_Category_Medium  \
0        500                    1                       0
1        473                    0                       1
2        779                    0                       1
3        530                    1                       0
4        635                    0                       0
...      ...                  ...                     ...
187526  1953                    0                       1
187527  1680                    0                       1
187528  1250                    0                       1
187529   709                    1                       0
187530  1915                    0                       1

        Amount_Category_High  Types_ Covered  Types_ Open  Types_Unknown  \
0                          0               0            0              1
1                          0               0            1              0
2                          0               1            0              0
3                          0               0            0              1
4                          1               1            0              0
...                      ...             ...          ...            ...
187526                     0               1            0              0
187527                     0               1            0              0
187528                     0               1            0              0
187529                     0               0            0              1
187530                     0               1            0              0

        Furnishing_Furnished  Furnishing_Semi-Furnished  \
0                          0                          0
1                          0                          1
2                          0                          0
3                          0                          0
4                          0                          0
...                      ...                        ...
187526                     0                          1
187527                     0                          0
187528                     1                          0
187529                     0                          1
187530                     0                          1

        Furnishing_Unfurnished  Furnishing_Unknown
0                            1                   0
1                            0                   0
2                            1                   0
3                            1                   0
4                            1                   0
...                        ...                 ...
187526                       0                   0
187527                       1                   0
187528                       0                   0
187529                       0                   0
187530                       0                   0

[175547 rows x 17 columns]

In [162]:
# Lưu dữ liệu đã xử lý vào file CSV mới
df.to_csv("D:\\House Prices _ onehot\\Dataset\\traning_data.csv", index=False)